$body-background: #faf9f7;
$text: #3F3F3F;
$text-form: #49485E;
$text-filter: #B4B4B4;
$text-validation: #FF8484;
$text-label: #49485E;
$placeholder: #B4B4B4;
$required-dot: #FF8484;
$button-bg-disabled: #EEEEEE;
$button-text-disabled: #B4B4B4;
$button-bg: #7BAE73;
$button-text: #FFFFFF;
$delete-button: #FF8484;
$white: #FFFEFB;
$hover-bg-product: #f16767;
