@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $body-background;
    color: $text;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

span {
    font-size: 8px;
    font-weight: 400;
    color: $text-validation;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    padding: 30px 0 10px 0;
}
